{% load static %}

<div class="col-12">
    <div class="row">
        <div class="col-8">
            <h3> Question #{{ question.question_id }}</h3>
        </div>
    </div>
    <div class="question">
        <div class="row">
            <div class="col-2">
                <div class="imgLogo">
                    <img src="{% static "/img/spaggetti.jpg" %}">
                </div>
                <div class="pt-2 ps-2">
                            <span>
                                {{ like.toQuestion }}
                                <!--                                не знеюа как имеено счетчик воткнуть -->
                                <a href="#">
                                    <img class="imgRate" src="{% static "/img/like-transformed.png" %}">
                                </a>
                                <a href="#">
                                    <img class="imgRate" src="{% static "/img/dislike-transformed.png" %}">
                                </a>
                            </span>
                </div>
            </div>
            <div class="col-10">
                <a class="link" href="{% url 'question' id=question.question_id %}">
                    <h4>


                        {{ question.title }}
                    </h4>
                </a>

                <span class="questionTitle">


                    {{ question.text }}
                            </span>
                <div class="row ">

                    <div class="col-3">
{#                        <a class="link" href="{% url "question"  question_id=answer.answer_id %}">#}
                        {# из-за того, что скрипт некорректно отрабатывает не заполняет поля тега, ответов и лайков, ссылка бьется ( #}
                            Ответы({{ question.answers_number }})</a>
                    </div>
                    <div class="col-9">
                        {% include "templates/use_tags.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
