{% extends 'templates/base.html' %}

{% load static %}

{% block content %}

    <div class="flex-shrink-0 bodyBgColor">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <h3>{{ question.title }}</h3>
                    </div>
                </div>
                <!--    ВОПРОС!------------------------------------->
                <div class="">
                    <div class="row">
                        <div class="col-2">
                            <div class="imgUserQuestion">
                                <img src="{% static "/img/spaggetti.jpg" %}">
                            </div>
                            <div class="pt-2 ps-2">
                            <span> 0
                                <!--                                не знеюа как имеено счетчик воткнуть -->
                                <a href="#">
                                    <img class="imgRate" src="{% static "/img/like-transformed.png" %}">
                                </a>
                                <a href="#">
                                    <img class="imgRate" src="{% static "/img/dislike-transformed.png" %}">
                                </a>
                            </span>
                            </div>
                        </div>
                        <div class="col-10">
                            <span class="link">
                                <h4>
                                    Страница добавления вопроса (можно сделать оверлеем).
                                </h4>
                            </span>
                            <span class="h5">
                                Доступна только для авторизованных
                            пользователей. В форма вводится заголовок, текст вопроса и теги, через запятую. С вопросом
                            может
                            быть связано не более 3 тегов. Для подсказки при выборе тега можно использовать готовый
                            jquery
                            плагин. Готовые django приложения для тегов использовать запрещается. При обработке формы
                            обязательно проверка валидности данных. Если вопрос успешно добавлен - пользователя
                            перебрасывает на
                            страницу вопроса, если возникли ошибки - их нужно отобразить в форме.
                            </span>
                            <p class="pt-2">

                                {% include "templates/use_tags.html" %}

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--ТЕГИ справа и пользователи ----------------------------------------------------------->

    {% for i in range_answer %}
                {% include 'templates/answer_item.html' %}

    {% endfor %}


    <div class="col-12 mt-2">
        <h2 class="mb-2">
            Cформулируйте свой ответ
        </h2>
        <form method="post">
            <textarea class="form-control me-2 formAnswer" name="comment"></textarea>
            <button class="btn MyBtnAnswer mt-2 mb-2" type="submit">Ответить!</button>
        </form>
    </div>



{% endblock %}
